{% extends 'index.html' %}

{% block content %}

<script type="text/javascript">
{% for artist in artists %}
$(function () {
    $("#rateYo{{artist.id}}").rateYo({
        rating: {{artist.rate or 0}},
        starWidth: "18px",
        numStars: 10,
        maxValue: 10,
        halfStar: true,
        onSet: function (rating, rateYoInstance) {
            $.getJSON($SCRIPT_ROOT + '/_rate', {
                type: 'artist',
                id: {{artist.id}},
                note: rating
            }, function(data) {
                $.notify({
                    message : "Rate " + rating + " saved for " + '{{artist.name}}' + " !",
                },{
                    type: "success",
                    delay: 1000,
                    allow_dismiss: false,
                    offset: 100
                });
            });
            return false;
        }
    });
});
{% endfor %}
</script>

<div id="artists" class="row">
	<div class="col-sm-12">
		<div class="row">
			{{ pagination.info }}
      <div>{{ pagination.links }}</div>
			{% for artist in artists %}
			<div class="col-md-3"><div class="well">
					<div class="row">
						<div class="col-md-4"><img src="{{artist.img_url}}" /></div>
						<div class="col-md-8">
							<a href="/artist/{{artist.slug}}">{{artist.name}}</a> <a target="_blank" href="{{artist.url}}"><span class="glyphicon glyphicon-link"></span></a><br />
							{{artist.albums.count()}} saved album{{artist.albums.count()|pluralize}}</br />
							{% for tag in artist.tags %}
							{% if loop.index > 1 %} - {% endif %}<a href="/tag/{{tag.slug}}">{{tag.name}}</a>
							{% endfor %}
						</div>
            <div class="col-md-12 rating">
              <div id="rateYo{{artist.id}}"></div> 
            </div>
					</div>
				</div></div>
				{% endfor %}
		</div>
	</div>
</div>

{{ pagination.links }}

{% endblock %}
